@{
    Layout = "/Views/Shared/_Layout.cshtml";
        }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PostToSell | AboutUs</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="~/content/layout.css" type="text/css" />

</head>
<body id="top">
<div class="wrapper col1">
  <div id="topbar">
        <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="header">
    <div class="fl_left">
      <h1><a href="">About Us</a></h1>
      
    </div>
    
    <br class="clear" />
  </div>
</div>

<!-- ####################################################################################################### -->
@*<div class="wrapper col4">
  <div id="breadcrumb">
    <ul>
      <li class="first">You Are Here</li>
      <li>&#187;</li>
      <li><a href="#">Home</a></li>
      <li>&#187;</li>
      <li><a href="#">Grand Parent</a></li>
      <li>&#187;</li>
      <li><a href="#">Parent</a></li>
      <li>&#187;</li>
      <li class="current"><a href="#">Child</a></li>
    </ul>
  </div>
</div>*@
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="container">
    
    <h5>This website is used for to post an image u want to sell with its description
        and also with detail information of your name , address and like these etc.
    </h5>
    <ul>
      <li>Here you may be able to see an the different products to sell.</li>
      <li>And you also be able to post an product for sell</li>
    </ul>
     </div>
</div>
<!-- ####################################################################################################### -->
</body>
</html>
