@{
    Layout = "/Views/Shared/_Layout.cshtml";
        }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PostToSell | ContactUs</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="~/content/layout.css" type="text/css" />

</head>
<body id="top">
<div class="wrapper col1">
  <div id="topbar">
        <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="header">
    <div class="fl_left">
      <h1><a href="">Contact Us</a></h1>
      
    </div>
    
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="container">
    
    <h5>If you have any query and if you want any update regarding any aspect of this website 
        you can contact me on this email address and also by contact no!!!!
    </h5>
    <ul>
      <li>Email : BCSF11A118@PUCIT.EDU.PK </li>
      <li>Contact No: 0323-1234567</li>
    </ul>
     </div>
</div>
<!-- ####################################################################################################### -->
</body>
</html>